---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body { 
  font: 400 16px/1.5 "Karla", sans-serif;
  color: #111;
  background-color: #fdfdfd; -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

strong {
  color: #ab3331;
}

a {
  text-decoration: underline;
  text-decoration-color: #ab3331;
}